.vs
.vscode
1-API/bin
1-API/obj/Debug
1-API/obj/Release
2-Application/bin
2-Application/obj/Debug
2-Application/obj/Release
3-Domain/bin
3-Domain/obj/Debug
3-Domain/obj/Release
4-Infra/4.1-Infra.CrossCutting/bin
4-Infra/4.1-Infra.CrossCutting/obj/Debug
4-Infra/4.1-Infra.CrossCutting/obj/Release
4-Infra/4.2-Infra.Data/bin
4-Infra/4.2-Infra.Data/obj/Debug
4-Infra/4.2-Infra.Data/obj/Release
5-Test/bin
5-Test/obj/Debug
5-Test/obj/Release